<!doctype html>
<html>
	<head>
		<title>{{catname}}</title>
	</head>
	<body>
	<b>{{catname}}</b>
	<hr/>
	<a href = '/cat/{{catid}}/page/1'>First</a>
{% if prevpage %}
	<a href = '/cat/{{catid}}/page/{{prevpage}}'>Prev</a>
{% endif %}
{% if nextpage %}
	<a href = '/cat/{{catid}}/page/{{nextpage}}'>Next</a>
{% endif %}
<hr/>
	<a href = '/'>轉台</a>
<hr/>
{% if catlist %}
		<table border=0 width="80%">
<tr>
	<th>ID</th>
	<th>標題</th>
	<th>作者</th>
</tr>
{% for cat in catlist %}
<tr>
	<td>{{cat.id}}</td>
	<td><a href={{cat.url}}>{{cat.title}}</a></td>
	<td>{{cat.author}}</td>
</tr>
{% endfor %}
		</table>
{% else %}
Nothing here
{% endif %}
<hr/>
	<a href = '/'>轉台</a>
<hr/>
	<a href = '/cat/{{catid}}/page/1'>First</a>
{% if prevpage %}
	<a href = '/cat/{{catid}}/page/{{prevpage}}'>Prev</a>
{% endif %}
{% if nextpage %}
	<a href = '/cat/{{catid}}/page/{{nextpage}}'>Next</a>
{% endif %}
	</body>
</html>
