<!doctype html>
<html>
	<head>
		<title>{{catname}}</title>
		<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/main.css')}}">
	</head>
	<body>
	<b>{{catname}}</b>
	<hr/>
	<a href = '/cat/{{catid}}/page/1'>第一頁</a>
{% if prevpage %}
	<a href = '/cat/{{catid}}/page/{{prevpage}}'>上一頁</a>
{% endif %}
{% if nextpage %}
	<a href = '/cat/{{catid}}/page/{{nextpage}}'>下一頁</a>
{% endif %}
<hr/>
	<a href = '/'>轉台</a>
<hr/>
{% if catlist %}
	<table>
<tr>
	<th>標題</th>
	<th>作者</th>
	<th>資料</th>
</tr>
{% for cat in catlist %}
<tr>
	<td><a href={{cat.url}}>{{cat.title}}</a></td>
	<td>{{cat.author}}</td>
	<td>
		{{cat.lastreply}} // {{cat.replies}}個回覆 // {{cat.like}}正評 // {{cat.dislike}}負評
	</td>
</tr>
{% endfor %}
		</table>
{% else %}
Nothing here
{% endif %}
<hr/>
	<a href = '/'>轉台</a>
<hr/>
	<a href = '/cat/{{catid}}/page/1'>第一頁</a>
{% if prevpage %}
	<a href = '/cat/{{catid}}/page/{{prevpage}}'>上一頁</a>
{% endif %}
{% if nextpage %}
	<a href = '/cat/{{catid}}/page/{{nextpage}}'>下一頁</a>
{% endif %}
	</body>
</html>
