<!doctype html>
<html>
	<head>
		<title>LIHKG Unofficial</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='styles/main.css')}}">
	</head>
	<body>
	{% if channellist %}
		<div class="collection">
		{% for channel in channellist %}
		<a class="collection-item" href={{channel.url}}>{{channel.name}}</a>
		{% endfor %}
		</div>
	{% else %}
	Nothing here
	{% endif %}
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
