<!doctype html>
<html>
	<head>
		<title>{{catname}} - {{author}} - {{threadname}}</title>
		<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/main.css')}}">
	</head>
	<body>
	<b>{{author}} - {{threadname}}</b>
	<hr/>
	<a href = '/thread/{{threadid}}/page/1'>First</a>
{% if prevpage %}
	<a href = '/thread/{{threadid}}/page/{{prevpage}}'>Prev</a>
{% endif %}
{% if nextpage %}
	<a href = '/thread/{{threadid}}/page/{{nextpage}}'>Next</a>
{% endif %}
{% if lastpage %}
	<a href = '/thread/{{threadid}}/page/{{lastpage}}'>Last</a>
{% endif %}
<hr/>
	<a href = '/cat/{{catid}}/page/1'>返回{{catname}}</a>
<hr/>
{% if threadlist %}
	<table>
{% for thread in threadlist %}
<tr>
	<td>
	{{thread.author}} @ {{thread.time}}
	<hr/>
	{{thread.content|safe}}
	</td>
</tr>
{% endfor %}
		</table>
{% else %}
Nothing here
{% endif %}
<hr/>
	<a href = '/cat/{{catid}}/page/1'>返回{{catname}}</a>
<hr/>
	<a href = '/thread/{{threadid}}/page/1'>First</a>
{% if prevpage %}
	<a href = '/thread/{{threadid}}/page/{{prevpage}}'>Prev</a>
{% endif %}
{% if nextpage %}
	<a href = '/thread/{{threadid}}/page/{{nextpage}}'>Next</a>
{% endif %}
{% if lastpage %}
	<a href = '/thread/{{threadid}}/page/{{lastpage}}'>Last</a>
{% endif %}
	</body>
</html>
