<!doctype html>
<html>
	<head>
		<title>{{catname}} - {{author}} - {{threadname}}</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='styles/main.css')}}">
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<b>{{author}} - {{threadname}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/cat/{{catid}}/page/1'>返回{{catname}}</a>
			</div>
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/1'>第一頁</a>
			</div>
			{% if prevpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{prevpage}}'>上一頁</a>
			</div>
			{% endif %}
			{% if nextpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{nextpage}}'>下一頁</a>
			</div>
			{% endif %}
			{% if lastpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{lastpage}}'>最後一頁</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% if threadlist %}
	<table>
		{% for thread in threadlist %}
		<tr>
			<td>{{thread.author}} @ {{thread.time}}<hr/>{{thread.content|safe}}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	Nothing here
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/cat/{{catid}}/page/1'>返回{{catname}}</a>
			</div>
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/1'>第一頁</a>
			</div>
			{% if prevpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{prevpage}}'>上一頁</a>
			</div>
			{% endif %}
			{% if nextpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{nextpage}}'>下一頁</a>
			</div>
			{% endif %}
			{% if lastpage %}
			<div class="col s2">
				<a class="waves-effect waves-light btn" href = '/thread/{{threadid}}/page/{{lastpage}}'>最後一頁</a>
			</div>
			{% endif %}
		</div>
	</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
